@define-color background #282828;
@define-color foreground #ebdbb2;
@define-color color1 #282828;
@define-color color2 #ff5555;
@define-color color3 #fabd2f;
@define-color color5 #fabd2f;
@define-color color6 #fabd2f;
@define-color background-sec #282828;
