@define-color background #282a36;
@define-color foreground #f8f8f2;
@define-color color1 #282a36;
@define-color color2 #ff5555;
@define-color color3 #bd93f9;
@define-color color5 #bd93f9;
@define-color color6 #bd93f9;
@define-color background-sec #282a36;
