@define-color background #151515;
@define-color foreground #00ff00;
@define-color color1 #151515;
@define-color color2 #ff5555;
@define-color color3 #ff0055;
@define-color color5 #ff0055;
@define-color color6 #ff0055;
@define-color background-sec #151515;
