@define-color background #282c34;
@define-color foreground #abb2bf;
@define-color color1 #282c34;
@define-color color2 #ff5555;
@define-color color3 #61afef;
@define-color color5 #61afef;
@define-color color6 #61afef;
@define-color background-sec #282c34;
