@define-color background #2e3440;
@define-color foreground #d8dee9;
@define-color color1 #2e3440;
@define-color color2 #ff5555;
@define-color color3 #88c0d0;
@define-color color5 #88c0d0;
@define-color color6 #88c0d0;
@define-color background-sec #2e3440;
