@define-color background #1e1e2e;
@define-color foreground #cdd6f4;
@define-color color1 #1e1e2e;
@define-color color2 #ff5555;
@define-color color3 #cba6f7;
@define-color color5 #cba6f7;
@define-color color6 #cba6f7;
@define-color background-sec #1e1e2e;
