

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: transparent;
}

.modules-center {
    background: #151515;
    border: 0px solid #000000;
    border-radius: 20px 20px 20px 20px;
    padding: 2px 20px;
    margin-top: 3px;
    min-height: 0px;
}

   #battery {
    padding: 0 0px;
    color: #0efe05;
}

#workspaces button{
    color:rgb(129, 129, 129);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.active {
    background:#5fd1fa;
    min-width: 55px;
    min-height: 1px;
    color: #006488;
}

#clock {
    padding-right: 20px;
    color: #5fd1fa;
}

#pulseaudio {
    padding-left: 5px ;
    color:rgb(248, 184, 106)
}

#custom-powerDraw {
    color:rgb(2, 179, 2)
}

#network {
    padding: 0 10px;
    color:wheat
}