@define-color background #272822;
@define-color foreground #f8f8f2;
@define-color color1 #272822;
@define-color color2 #ff5555;
@define-color color3 #f92672;
@define-color color5 #f92672;
@define-color color6 #f92672;
@define-color background-sec #272822;
