@define-color background #1f1f28;
@define-color foreground #dcd7ba;
@define-color color1 #1f1f28;
@define-color color2 #ff5555;
@define-color color3 #7e9cd8;
@define-color color5 #7e9cd8;
@define-color color6 #7e9cd8;
@define-color background-sec #1f1f28;
