@define-color background #011627;
@define-color foreground #acb4c2;
@define-color color1 #011627;
@define-color color2 #ff5555;
@define-color color3 #82a1f1;
@define-color color5 #82a1f1;
@define-color color6 #82a1f1;
@define-color background-sec #011627;
