/* Import the .css file we just generated */
@import "../../themes/active/swaync/colors.css";

:root {
  --border-radius: 22px;
  --cc-bg: @base;         /* Changed from $background */
  --widget-background: @base; 
  --noti-bg-alpha: 0.6;
}

* {
    color: @text;         /* Changed from $foreground */
}

.control-center {
  background: alpha(@base, 0.9);
  border: 2px solid @accent;
}

.widget.widget-mpris {
  background: @base;
  border: none;
}

.widget-mpris > box > button:hover {
  background: @accent;
  color: @base;
}