@define-color background #2d353b;
@define-color foreground #d3c6aa;
@define-color color1 #2d353b;
@define-color color2 #ff5555;
@define-color color3 #a7c080;
@define-color color5 #a7c080;
@define-color color6 #a7c080;
@define-color background-sec #2d353b;
