@define-color background #000000;
@define-color foreground #32cd32;
@define-color color1 #000000;
@define-color color2 #ff5555;
@define-color color3 #ff00ff;
@define-color color5 #ff00ff;
@define-color color6 #ff00ff;
@define-color background-sec #000000;
