@define-color background #1a0f0f;
@define-color foreground #eecaca;
@define-color color1 #1a0f0f;
@define-color color2 #ff5555;
@define-color color3 #dc143c;
@define-color color5 #dc143c;
@define-color color6 #dc143c;
@define-color background-sec #1a0f0f;
