@define-color background #111217;
@define-color foreground #ffffff;
@define-color color1 #111217;
@define-color color2 #ff5555;
@define-color color3 #5eff6c;
@define-color color5 #5eff6c;
@define-color color6 #5eff6c;
@define-color background-sec #111217;
