@define-color background #0f1419;
@define-color foreground #e6e1cf;
@define-color color1 #0f1419;
@define-color color2 #ff5555;
@define-color color3 #f29718;
@define-color color5 #f29718;
@define-color color6 #f29718;
@define-color background-sec #0f1419;
