@define-color background #191724;
@define-color foreground #e0def4;
@define-color color1 #191724;
@define-color color2 #ff5555;
@define-color color3 #ebbcba;
@define-color color5 #ebbcba;
@define-color color6 #ebbcba;
@define-color background-sec #191724;
